* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Ropa Sans, sans-serif;
    background-color: #e5e5e5;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 50px;
}

img {
    object-fit:cover;
}

/**HEADER**/
header {
    height: 50px;
    background-color: white;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/*Logo*/
.logo {
    width: 105px;
    height: 25px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 40px;
}

.logo__name {
    font-size: 29px;
    color: #777;
}

.logo_message span {
    font-size: 10px;
    color: #999797;
    display: block;
    line-height: -10px;
    margin-left: 4px;
}

/*Menu for small devices*/
nav.hamburger-menu {
    position: absolute;
    top: 25px;
    right: 18px;
    transform: translate(-50%, -50%);
}

nav.hamburger-menu .line {
    width: 20px;
    height: 2px;
    background-color: #999797;
    margin: 3px 0;
}

/*Menu for medium and large devices*/
nav.desktop-nav {
    height: 100%;
    float: right;
    margin-right: 40px;
}

nav.desktop-nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

nav.desktop-nav ul li {
    margin: 0 5px;
}

nav.desktop-nav ul li:last-child {
    margin-right: 0;
}

nav.desktop-nav ul li a {
    color: #777;
    text-decoration: none;
    transition: color 0.5s;
}
nav.desktop-nav ul li a:hover {
    color: #212125;
}
/**end HEADER**/

/**MAIN**/
main {
    background-color: white;
}

/*Banner*/
.banner {
    padding: 18px calc(28px + 1vw);
    position: relative;
}

.banner__arrows div {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(25px + 1vw);
    height: calc(25px + 1vw);
    background: rgba(141, 141, 141, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__arrows .arrow-left {
    left: 10%;
}

.banner__arrows .arrow-right {
    left: 90%;
}

.banner__arrows div img {
    width: 10px;
}

/**PRODUCTS**/
.products {
    padding: 18px calc(28px + 1vw);
    display: flex;
    justify-content: space-between;
}

.products__item {
    flex-basis: 43%;
    background-color: #eee;
}

.products__item__text {
    padding: 8px 13px;
}

.products__item__text-top {
    display: flex;
    justify-content: space-between;
}

.products__item__text-price {
    font-size: 23px;
    color: #888;
}

.products__item__text-btn {
    font-size: 18px;
    border-radius: 10.5px;
    width: 55px;
    height: 21px;
    text-align: center;
    color: white;
    padding-top: 1px;
}

.products__item:nth-child(1) .products__item__text-btn {
    background-color: #51D275;
}

.products__item:nth-child(2) .products__item__text-btn {
    background-color: #DC9730;
}

.products__item__text-para {
    font-size: 11px;
    color: #555;
    margin-top: 8px;
    text-align: justify;
}
/**end PRODUCTS**/

/**STYLES**/
.styles {
    padding: 18px calc(28px + 1vw);
}

.styles__title {
    text-align: center;
    color: #888;
    font-size: 25px;
    margin: 10px 0 14px 0;
}

.styles__item {
    position: relative;
    opacity: .6;
}

.styles__item:nth-child(2), .styles__item:nth-child(3) {
    margin-bottom: 14px;
}

.styles__item__image {
    filter: brightness(80%);
}

.styles__item__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
/**end STYLES**/
/**end MAIN**/

/**FOOTER**/
footer {
    background-color: #334;
    padding: calc(25px + 1vw) calc(33px + 1vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__map {
    flex-basis: 45%;
}

.footer__map img {
    width: 100%;
}

.footer__text {
    width: 175px;
    color: white;
    font-size: 12px;
    letter-spacing: .3px;
    margin-top: 10px;
}

.footer__text div {
    margin-bottom: 14px;
}

.footer__text__medias {
    width: 102px;
    margin-top: 20px;
}

.footer__text__medias-images {
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
}
/**end FOOTER**/

/*Common Style*/
.banner img, .products img, .styles img, .footer__map img {
    display: block;
    width: 100%;
}

/**MEDIA QUERIES**/
@media(min-width: 700px) {
    nav.hamburger-menu {
        display: none;
    }
}

@media(max-width: 700px) {
    body {
        padding: 10px;
    }

    nav.desktop-nav {
        display: none;
    }

    .banner, .products, .styles {
        padding: 15px calc(20px + 1vw);
    }

    .banner_image img {
        min-height: calc(180px + 1vw);
    }

    .products {
        flex-wrap: wrap;
    }

    .products__item {
        flex-basis: 100%;
    }

    .products__item__image img {
        max-height: calc(220px + 1vw);
    }

    .styles__item__image img {
        min-height: calc(66px + 1vw);
    }
    
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__map {
        flex-basis: 70%;
    }
    
    .footer__text {
        margin-top: 20px;
        max-width: 600px;
    }
}

@media(max-width: 400px) {
    .banner_image img {
        min-height: calc(130px + 1vw);
    }

    .products__item__image img {
        max-height: calc(130px + 1vw);
    }

    .footer__map {
        flex-basis: 85%;
    }
}